<div class="container spacecontainer">
  <app-search></app-search>
  <div class="row">
    <div class="col">
      <p class="latest">LATEST PRODUCTS</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://tse1.mm.bing.net/th/id/OIP.fMT4-ZiT7MksB-S17oB_nQHaFv?pid=ImgDet&rs=1"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Samsung note 11</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Mobile</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><b>Rs.54499</b></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://tse1.mm.bing.net/th/id/OIP.0nXQNnc2b1_X62lE5VZXVwHaD4?w=303&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Brillio Logo</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Sticker</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><b>Rs.9</b></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://tse1.mm.bing.net/th/id/OIP.1RiGz7d8FHXAiOUfA9QgmgHaHa?w=175&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Apple Air Pods</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Bluetooth buds</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><b>1999</b></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://tse2.mm.bing.net/th/id/OIP.z_LIO2Ugif3b1zizGExL3gHaHa?pid=ImgDet&rs=1"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Lenovo Thinkpad p14s</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Lapee</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><b>Rs.168000</b></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://tse3.mm.bing.net/th/id/OIP.AaCOPnF-UenaUK5GJ8hDlgHaHa?pid=ImgDet&rs=1"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Mouse</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Mouse</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><b>Rs.320</b></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://tse2.mm.bing.net/th/id/OIP.KMJSp7w7wiXTRxezULArLgHaJ4?pid=ImgDet&rs=1"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Angular sticker</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Sticker</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><b>Rs.120.0</b></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>dog</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Brilliant Dog</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><b>Rs.1255000</b></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mb-3">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://preview.redd.it/8bk1rknfodf01.jpg?auto=webp&s=47d6b0199520eba3b7359273a4483cc9cbcfbdbc"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>Keyboard</h3>
        </mat-card-content>
        <mat-card-content>
          <p>Bluetooth Keyboard</p>
        </mat-card-content>
        <mat-card-content>
          <p>4.5 from 5 reviews</p>
        </mat-card-content>
        <mat-card-content>
          <p><b>370</b></p>
        </mat-card-content>
        <mat-card-content>
          <button class="cartbtn" mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
