<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div style="height: 40px;" class="navbar-nav">
        <a style="background-color:rgb(109, 69, 54);" class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a style="background-color: maroon;color: white;" class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a style="background-color: rgb(126, 62, 62);font-style: oblique;color: white;" class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">profile</a>
        <a style="background-color: maroon;font-style: oblique;color: white;" class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        <a style="background-color: green;font-style: oblique;color: white;" class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
</div>

<p>
  <a href="https://www.atulgunjal.com" target="_top">Hi Brillians,visit- www.atulgunjal.com</a>
</p>
